Repository cheickmec/smellcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-parity, vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

version-parity:
  name: version-parity
  entry: python3 -m pytest tests/test_version_parity.py -q --no-header --tb=short
  language: system
  pass_filenames: false

vendor-sync:
  name: auto-vendor smellcheck on detector.py change
  language: system
  entry: scripts/check-vendor-sync.sh
  stages:
  - pre-commit
  pass_filenames: false

readme-links:
  name: check README links are absolute and valid
  entry: python3 scripts/check-readme-links.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

doc-alignment:
  name: doc-alignment
  entry: python3 scripts/check-doc-alignment.py
  language: system
  pass_filenames: false

doc-staleness-reminder:
  name: Remind about doc updates
  entry: bash scripts/check-docs-reminder.sh
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

chore: add mypy type checking to CI
  .github/workflows/ci.yml
  pyproject.toml
Due: version-parity

docs: add configuration schema documentation
  README.md
  docs/configuration.md
Due: readme-links, doc-alignment

fix: correct rule registry count assertion to 56
  tests/test_detector.py
Due: doc-alignment

docs: fix misleading TOML example in config inheritance section
  docs/configuration.md
Due: none

feat: add --explain examples for SC801-SC805 metric rules
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: correct Plan JSON schema type and clarify metric examples
  docs/configuration.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

chore: add code coverage reporting with Codecov and README badge
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: version-parity, readme-links, doc-alignment

docs: add OO metrics interpretation guide with thresholds and examples
  README.md
  docs/oo-metrics-guide.md
Due: readme-links, doc-alignment

fix: address Copilot review findings for PR #72
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

feat: add SMELLCHECK_* environment variable configuration
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: update config docs precedence text and file path description
  docs/configuration.md
Due: none

fix: update scan_paths comment to reflect lazy module detection
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: address code review findings for batch2 PR
  docs/configuration.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: address Copilot round 2 review findings for PR #72
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

feat: add SC509 Lazy Re-export Module detection
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

fix: address Copilot round 4 review findings
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

fix: address Copilot round 5 review findings
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: address Copilot round 6 review findings
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

test: add regression tests for review-fix edge cases
  tests/test_detector.py
Due: doc-alignment

test: strengthen SC509 constants exclusion test with >= 5 statements
  tests/test_detector.py
Due: doc-alignment

docs: fix SC509 architecture.md example and detection description
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
Due: none

fix: skip empty list from comma-only SMELLCHECK_SELECT/IGNORE values
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

test: add regression tests for comma-only SMELLCHECK_SELECT/IGNORE
  tests/test_detector.py
Due: doc-alignment

docs: reword SC509 detection description to match actual heuristic
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
Due: none

docs: add environment variable section to README
  README.md
Due: readme-links, doc-alignment

fix: update pyproject.toml description from 56 to 57 AST checks
  pyproject.toml
Due: version-parity

fix: exclude __future__ imports from SC509 import count
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: correct SC509 __future__ denominator bug and strengthen tests
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

Path conditions:
  version-parity: any of: (pyproject\.toml|\.release-please-manifest\.json|marketplace\.json)$
  vendor-sync: any of: ^src/smellcheck/detector\.py$
  readme-links: any of: ^README\.md$
  doc-alignment: any of: (detector\.py|README\.md)$
  doc-staleness-reminder: any of: ^src/ and \.py$
