Repository cheickmec/smellcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-parity, vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: no-commit-to-main
        name: no-commit-to-main
        entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [ "$branch" = "main" ] || [ "$branch" = "master" ]; then echo "Direct commits to $branch are not allowed. Use a feature branch." >&2; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: no-commit-to-merged-branch
        name: no-commit-to-merged-branch
        entry: bash scripts/check-merged-branch.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: no-push-to-main
        name: no-push-to-main
        entry: bash -c 'branch=$(git rev-parse --abbrev-ref HEAD); if [ "$branch" = "main" ] || [ "$branch" = "master" ]; then echo "Direct push to $branch is not allowed. Use a feature branch and open a PR." >&2; exit 1; fi'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]

      - id: pr-description-reminder
        name: Remind about PR description
        entry: bash scripts/check-pr-description-reminder.sh
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]
        verbose: true

      - id: version-parity
        name: version-parity
        entry: python3 -m pytest tests/test_version_parity.py -q --no-header --tb=short
        language: system
        pass_filenames: false
        files: '(pyproject\.toml|\.release-please-manifest\.json|marketplace\.json)$'

      - id: vendor-sync
        name: auto-vendor smellcheck on detector.py change
        language: system
        entry: scripts/check-vendor-sync.sh
        files: ^src/smellcheck/detector\.py$
        stages: [pre-commit]
        pass_filenames: false

      - id: readme-links
        name: check README links are absolute and valid
        entry: python3 scripts/check-readme-links.py
        language: system
        pass_filenames: false
        files: ^README\.md$
        stages: [pre-commit]

      - id: doc-alignment
        name: doc-alignment
        entry: python3 scripts/check-doc-alignment.py
        language: system
        pass_filenames: false
        files: '(detector\.py|README\.md)$'

      - id: doc-staleness-reminder
        name: Remind about doc updates
        entry: bash scripts/check-docs-reminder.sh
        language: system
        files: ^src/
        types: [python]
        pass_filenames: false
        always_run: false
        verbose: true

      - id: check-commit-msg
        name: Validate conventional commit message
        entry: bash scripts/check-commit-msg.sh
        language: system
        stages: [commit-msg]
        always_run: true

      - id: breaking-change-reminder
        name: Remind about breaking changes
        entry: bash scripts/check-breaking-change-reminder.sh
        language: system
        stages: [commit-msg]
        always_run: true
        verbose: true

fix: address Copilot round 6 review findings
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: address Copilot round 2 review findings for PR #72
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: address Copilot round 5 review findings
  plugins/python-refactoring/skills/python-refactoring/references/architecture.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

test: add regression tests for review-fix edge cases
  tests/test_detector.py
Due: doc-alignment

fix: address Copilot round 4 review findings
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

fix: address code review findings for batch2 PR
  docs/configuration.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

test: add regression tests for comma-only SMELLCHECK_SELECT/IGNORE
  tests/test_detector.py
Due: doc-alignment

feat: add SMELLCHECK_* environment variable configuration
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: deduplicate cyclic import findings and handle duplicate Path.stem
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_regressions.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: align category with registry, dynamic phase order, escape github output, validate baseline
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: harden baseline validation, escape commas in github format, strengthen test
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: clean up test assertions and fix docstring in cross-file helpers
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_regressions.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: use qualified imports in test, strengthen assertion, add backticks to SC503 message
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_regressions.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: hoist _NESTING_COMPOUND to module level to avoid per-iteration rebuild
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: stop ast.walk into nested scopes, fix _is_elif module level, add TryStar
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_regressions.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: add TryStar to nesting depth, hoist compound types, fix test SC code filter
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_regressions.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

test: add positive assertions to prevent vacuous test passes
  tests/test_regressions.py
Due: none

docs: align test comment with assertion (at most -> exactly once)
  tests/test_regressions.py
Due: none

feat: add SC704, SC705, SC706 async detection rules
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

fix: clean SC705 message phrasing and deduplicate concurrency check roots
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

feat: add cross-file call-chain tracing for indirect blocking in async code
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: qualify call-chain keys, fix nested scope traversal, remove same-file skip, add call-site line numbers
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

perf: replace DFS with Tarjan SCC and cache parent map for _is_elif
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: reconstruct actual import order from graph instead of using SCC set order
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: verify closing edge in SCC cycle display and remove unused fixture
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: fall back to sorted list when SCC walk doesn't visit all members
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder
