Repository cheickmec/smellcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-parity, doc-alignment, doc-staleness-reminder

version-parity:
  name: version-parity
  entry: python3 -m pytest tests/test_version_parity.py -q --no-header --tb=short
  language: system
  pass_filenames: false

doc-alignment:
  name: doc-alignment
  entry: python3 scripts/check-doc-alignment.py
  language: system
  pass_filenames: false

doc-staleness-reminder:
  name: Remind about doc updates
  entry: bash scripts/check-docs-reminder.sh
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

fix: skip PR template check for release-please bot PRs
  .github/workflows/pr-template.yml
Due: none

fix: skip PR template check for release-please bot PRs (#24)
  .github/workflows/pr-template.yml
Due: none

chore: update project logo to playful skunk detective
  assets/logo.png
Due: none

feat: add commit-msg hooks for format enforcement and breaking change reminder
  .pre-commit-config.yaml
  scripts/check-breaking-change-reminder.sh
  scripts/check-commit-msg.sh
Due: none

fix: refactor _is_offloaded_call and fix false-negative bug
  CONTRIBUTING.md
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

feat: add pre-push hook to remind about PR description updates
  .pre-commit-config.yaml
  scripts/check-docs-reminder.sh
  scripts/check-pr-description-reminder.sh
Due: none

feat!: drop legacy pattern refs, SC codes are the sole identifier
  .pre-commit-hooks.yaml
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  plugins/python-refactoring/skills/python-refactoring/SKILL.md
  plugins/python-refactoring/skills/python-refactoring/references/metrics.md
  scripts/check-docs-reminder.sh
  src/smellcheck/detector.py
  tests/test_detector.py
  tests/test_regressions.py
Due: doc-alignment, doc-staleness-reminder

fix: skip PR template check for release-please PRs
  .github/workflows/pr-template.yml
Due: none

docs: update CONTRIBUTING.md with hook install steps and breaking change convention
  CONTRIBUTING.md
Due: none

docs: add SC703 to skills catalog and update pattern counts
  plugins/python-refactoring/skills/python-refactoring/SKILL.md
  plugins/python-refactoring/skills/python-refactoring/references/idioms.md
Due: none

feat: vendor smellcheck into skill bundle for zero-install UX
  .gitattributes
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  plugins/python-refactoring/skills/python-refactoring/SKILL.md
  plugins/python-refactoring/skills/python-refactoring/scripts/detect_smells.py
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/__init__.py
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  scripts/check-vendor-sync.sh
  scripts/vendor-smellcheck.sh
  tests/test_version_parity.py
Due: doc-alignment

docs: update pattern counts to 83 and install instructions
  .claude-plugin/marketplace.json
  .pre-commit-hooks.yaml
  CLAUDE.md
  README.md
  action.yml
  docs/code-smells-guide.md
  plugins/python-refactoring/.claude-plugin/plugin.json
  pyproject.toml
Due: version-parity, doc-alignment

fix: address PR review feedback on vendoring implementation
  .pre-commit-config.yaml
  plugins/python-refactoring/skills/python-refactoring/references/idioms.md
  plugins/python-refactoring/skills/python-refactoring/scripts/detect_smells.py
  scripts/vendor-smellcheck.sh
Due: none

fix: add x-release-please-version markers to vendored __init__.py
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/__init__.py
  scripts/vendor-smellcheck.sh
Due: none

docs: extract installation guide from README into dedicated doc
  README.md
  docs/installation.md
Due: doc-alignment

feat: add README link validation (pre-commit + CI)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  scripts/check-readme-links.py
Due: none

docs: improve README links and remove misleading Ruff badge
  README.md
Due: doc-alignment

feat: add --explain CLI command for per-rule documentation
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

chore: gitignore .claude/ and .omc/ directories
  .gitignore
Due: none

fix: accept SC4xx form in --explain and update usage header
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

fix: correct cross-file cache test and clean up cache logic
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

fix: harden cache key, eliminate double reads, skip cache dir
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: doc-alignment, doc-staleness-reminder

fix: tighten directive regex and add edge case tests
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

fix: add CI guard, error handling, and path dedup to vendor hook
  scripts/check-vendor-sync.sh
Due: none

fix: restore dual-file trigger for vendor-sync hook
  .pre-commit-config.yaml
Due: none

chore: auto-vendor on detector.py change instead of check-only
  .pre-commit-config.yaml
  scripts/check-vendor-sync.sh
Due: none

feat: add diff-aware scanning (--diff / --changed-only)
  README.md
  action.yml
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

test: strengthen diff test coverage and clean up unit test
  tests/test_detector.py
Due: doc-alignment

feat: add JUnit XML and GitLab CodeClimate output formats
  README.md
  action.yml
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: doc-alignment, doc-staleness-reminder

fix: use location-agnostic fingerprints in GitLab format
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: doc-alignment, doc-staleness-reminder

fix: disambiguate JUnit testcase names with line number
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: doc-alignment, doc-staleness-reminder

Path conditions:
  version-parity: any of: (pyproject\.toml|\.release-please-manifest\.json|marketplace\.json)$
  doc-alignment: any of: (detector\.py|README\.md)$
  doc-staleness-reminder: any of: ^src/ and \.py$
