Repository cheickmec/smellcheck: changes, and which pre-commit hooks are due for each by the changed paths.
All: version-parity, vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

version-parity:
  name: version-parity
  entry: python3 -m pytest tests/test_version_parity.py -q --no-header --tb=short
  language: system
  pass_filenames: false

vendor-sync:
  name: auto-vendor smellcheck on detector.py change
  language: system
  entry: scripts/check-vendor-sync.sh
  stages:
  - pre-commit
  pass_filenames: false

readme-links:
  name: check README links are absolute and valid
  entry: python3 scripts/check-readme-links.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

doc-alignment:
  name: doc-alignment
  entry: python3 scripts/check-doc-alignment.py
  language: system
  pass_filenames: false

doc-staleness-reminder:
  name: Remind about doc updates
  entry: bash scripts/check-docs-reminder.sh
  language: system
  pass_filenames: false
  always_run: false
  verbose: true

feat: add JUnit XML and GitLab CodeClimate output formats
  README.md
  action.yml
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

fix: use location-agnostic fingerprints in GitLab format
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

feat: add config `extends` for shared config inheritance
  README.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

test: add extends absolute path test
  tests/test_detector.py
Due: doc-alignment

fix: sync plugin.json version with release-please
  plugins/python-refactoring/.claude-plugin/plugin.json
  release-please-config.json
  tests/test_version_parity.py
Due: none

feat: add Cursor native plugin for python-refactoring
  .cursor-plugin/marketplace.json
  .gitignore
  README.md
  docs/installation.md
  plugins/python-refactoring/.cursor-plugin/plugin.json
  plugins/python-refactoring/rules/python-refactoring.mdc
Due: version-parity, readme-links, doc-alignment

fix: correct SC307 severity in README from warning to info
  README.md
Due: readme-links, doc-alignment

feat: add --plan for guided refactoring workflow
  README.md
  plugins/python-refactoring/skills/python-refactoring/SKILL.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, readme-links, doc-alignment, doc-staleness-reminder

docs: improve SKILL.md workflow section discoverability
  plugins/python-refactoring/skills/python-refactoring/SKILL.md
Due: none

test: fix test_plan_with_baseline to actually verify baseline filtering
  tests/test_detector.py
Due: doc-alignment

fix: address code review findings for --plan feature
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

feat: add --explain examples for SC801-SC805 metric rules
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

docs: add Analysis Tiers section explaining per-file, cross-file, and OO metric passes
  README.md
Due: readme-links, doc-alignment

docs: add OO metrics interpretation guide with thresholds and examples
  README.md
  docs/oo-metrics-guide.md
Due: readme-links, doc-alignment

docs: add configuration schema documentation
  README.md
  docs/configuration.md
Due: readme-links, doc-alignment

chore: add code coverage reporting with Codecov and README badge
  .github/workflows/ci.yml
  README.md
  pyproject.toml
Due: version-parity, readme-links, doc-alignment

chore: add mypy type checking to CI
  .github/workflows/ci.yml
  pyproject.toml
Due: version-parity

test: add explicit per-SC named tests for rules
  tests/test_detector.py
Due: doc-alignment

docs: fix misleading TOML example in config inheritance section
  docs/configuration.md
Due: none

fix: lower coverage threshold to 80% and exclude repo doc links from lychee
  .github/workflows/ci.yml
Due: none

fix: address Copilot review findings for PR #71
  .github/workflows/ci.yml
  README.md
  docs/configuration.md
  docs/oo-metrics-guide.md
  tests/test_detector.py
Due: readme-links, doc-alignment

fix: correct rule registry count assertion to 56
  tests/test_detector.py
Due: doc-alignment

fix: address Copilot round 2 review findings for PR #71
  docs/configuration.md
  docs/oo-metrics-guide.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
  tests/test_detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

fix: correct registry count to 56 (SC509 is on batch2 branch)
  tests/test_detector.py
Due: doc-alignment

fix: correct Plan JSON schema type and clarify metric examples
  docs/configuration.md
  plugins/python-refactoring/skills/python-refactoring/scripts/smellcheck/detector.py
  src/smellcheck/detector.py
Due: vendor-sync, doc-alignment, doc-staleness-reminder

Path conditions:
  version-parity: any of: (pyproject\.toml|\.release-please-manifest\.json|marketplace\.json)$
  vendor-sync: any of: ^src/smellcheck/detector\.py$
  readme-links: any of: ^README\.md$
  doc-alignment: any of: (detector\.py|README\.md)$
  doc-staleness-reminder: any of: ^src/ and \.py$
